* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;  
  color: #212121;  
}

.body {
  background: linear-gradient(320deg, rgba(34, 72, 195, 0.79) 24%, rgba(45, 248, 253, 0.77) 49%, rgba(217, 253, 45, 0.77) 85%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.container {
  margin-left: 35px;
  margin-top: 25px;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  margin-top: 60px;
  margin-right: 40px;
}

.item {
margin-bottom: 10px;
}

.text {
  margin-bottom: 20px;
}

button {
  padding: 12px 30px;
  margin-left: 20px;
  border: 2px solid rgb(15, 197, 221);
  border-radius: 5px;
  background-color: rgb(127, 215, 219);
  font-size: 17px;
}

input {
  padding: 12px 10px;
    border: 2px solid rgb(15, 197, 221);
      border-radius: 5px;
      background-color: rgb(127, 215, 219);
      text-align: center;
      font-size: 17px;
}

button:hover,
button:focus,
input:hover,
input:focus {
  border-color: rgb(53, 53, 240);
}

.timer {
  display: flex;
  background-color: rgb(138, 223, 194);
  margin-top: 20px;
  padding: 15px 20px;
  width: 500px;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 5px;
  
}

.value {
  font-size: 20px;

}

.label{
background-color: rgb(168, 227, 250);
margin-top: 10px;
font-size: 17px;
padding: 2px 10px;
}

span {
  display: block;  
}

.disabled {
    border: 2px solid rgb(190, 226, 235);
    background-color: rgb(157, 219, 223);
}

.disabled:focus,
.disabled:hover,
.disabled:hover,
.disabled:focus {
  border-color: rgb(190, 226, 235);
}

.form {
  width: 400px;
  padding: 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(190, 245, 242, 0.459);
}

.form-label {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
}
